
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.attraction, .image-gallery, .contact {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.attraction-img {
    max-width: 100%;
    height: auto;
}

.image-gallery .images {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.image-gallery .images img {
    max-width: 100%;
    max-height: 400px;
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 60%;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
    overflow: hidden;
    text-align: center;
    align-items: flex-end; /* Alinhar ao final da div (parte inferior) */
    margin-top: 10%; /* Adicionar um espaçamento superior para centralizar verticalmente */
    margin-left: 20%; /* Adicionar um espaçamento à esquerda para centralizar horizontalmente à direita */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    z-index: 1;
}

.prev,
.next {
    font-size: 40px;
    cursor: pointer;
    color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
